{% extends "auctions/layout.html" %}

{% block body %}
<div class="row">
    <div class="col">
        <h2>Active Listings</h2>
    </div>
</div>
    <ul>
        {% for listing in activeList %}
        <div class='row'>
            <li><a href="{% url 'listing' listing.name %}"><h3>{{ listing.name }}</h3></a></li>
        </div>
                <ul>
                    <div class='row'>
                        <div class='col-3'>
                        {% if listing.image %}
                            <li><a href="{% url 'listing' listing.name %}"><img src="{{ listing.image.url }}" alt="listing image" width="300" height="300"></a></li>
                        {% endif %}
                        </div>
                        <div class='col-9'>
                            {% if listing.bids.last.amount > listing.starting_bid %}
                                <li>Current highest bid is: <strong>${{ listing.bids.last.amount }}</strong></li>
                            {% else %}
                                <li>Starting bid price for this item is: $<strong>{{ listing.starting_bid }}</strong></li>
                            {% endif %}

                            <li>{{ listing.description }}</li>
                        </div>
                    </div>
                </ul>
            </li>
        {% empty %}
            <li><h4>No active listings at this time</h4></li>
        {% endfor %}
    </ul>
{% endblock %}