{% extends "auctions/layout.html" %} 
{% load static %} 

{% block body %}
<div class='row'>
  <h1 style="padding-left: 15px;">Listing: {{listing.name}}</h1>
</div>
<div class='row'>
  <div class='col-2'>
    <img src="{{listing.image.url}}" alt="listing picture"/>
  </div>
  <div class='col-6'>
    <h6>This listing was created by {{listing.user.username}}</h6>
    <p>{{listing.description}}</p>
  </div>
  <div class='col-4'>
    {% if user.is_authenticated %}
      <h5>{{ message }}</h5>
      <form action="{% url 'watchlist' %}" method="post">
        {% csrf_token %}
        {{ wform }}
        <button type="submit" class="btn btn-primary">{{button_message}}</button>
      </form>
    {% endif %}
  </div>
</div>

<div class='row'>  
  <div class='col'>
    {% if is_users_listing and listing_active and listing.bids.all.exists %}
      <h5 style="padding-top: 15px;">This is your active listing. Click button to close listing and assign winner to the highest bidder!</h5>
        <form style="padding-top: 5px; padding-bottom: 15px;" action="{% url 'listing' listing.name %}" method="post">
          {% csrf_token %}
          {{ closeform }}
          <button type="submit" name='closeform_button' class='btn btn-primary'>Close Listing</button>
        </form>
    {% elif is_users_listing and not listing_active and not is_listing_winner %}
      <h5>This is your listing, but is closed. The winner is {{listing.user_winner.username}}</h5>
    {% elif is_listing_winner %}
      <h3 style="padding-top: 5px;">Congratulations! You have won this listing! Enjoy your {{listing.name}}!!!</h3>
    {% endif %}
  </div>
</div>

<div class='row'>
  <div class='col'>
    {% if listing.active %}
    <h4>Bids</h4>
      {% if highest_bid %}
        <h6>The current price to beat for this item is: ${{highest_bid.amount}}. Made by {{highest_bid.user.username}} at {{highest_bid.date}}</h6>
      {% else %}
        <h6>No bids yet. Starting price is: ${{listing.starting_bid}}</h6>
      {% endif %}
    {% endif %}
  </div>

  <div class='col'>
    <h4>Comments</h4>
    <ul>
        {% for c in comments %}
        <li>Commenter: {{ c.user }} at {{ c.date }}</li>
        <ul>
          <li>{{c.text}}</li>
        </ul>
        {% empty %}
        <li><p>Currently no comments on this listing</p></li>
        {% endfor %}
    </ul>
  </div>
</div>

{% if user.is_authenticated %}
  <div class='row'>
    <div class='col'>
      {% if listing_active %}
        <h3>Place a bid here!</h3>
        <div class='form-group'>
          <form action="{% url 'listing' listing.name %}" method="post">
            {% csrf_token %}
              {{ bform }}
            <button type="submit" class="btn btn-primary" name="bform_button">Confirm Bid!</button>
          </form>
        </div>
      {% endif %}
    </div>

    <div class='col'>
      <h3>Leave a comment here!</h3>
      <div class="form-group">
        <form action="{% url 'listing' listing.name %}" method="post">
          {% csrf_token %}
          {{ cform }}
          <button type="submit" class="btn btn-primary" name="cform_button">Submit Comment</button>
        </form>
      </div>
    </div>
  </div>
{% endif %}


{% endblock %}
